# .editorconfig
#
# https://editorconfig.org/
# https://pinterest.github.io/ktlint/0.49.1/rules/standard/
root = true

# noinspection EditorConfigKeyCorrectness
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
#indent_size = 4
#indent_style = space
#max_line_length = 120
#tab_width = 4
#trim_trailing_whitespace = true
#ij_continuation_indent_size = 8
ktlint_code_style = intellij_idea
#ktlint_standard_wrapping = disabled


# noinspection EditorConfigKeyCorrectness
#[*.gradle.kts]
#ktlint = disabled


# noinspection EditorConfigKeyCorrectness
[*.{kt,kts}]
#ktlint_experimental = enabled

# Imports must be ordered in lexicographic order without any empty lines in-between with "java", "javax", "kotlin" and aliases in the end (standard:import-ordering)
ktlint_standard_import-ordering = disabled

# Wildcard import (cannot be auto-corrected) (standard:no-wildcard-imports)
ktlint_standard_no-wildcard-imports = disabled

# (standard:filename)
ktlint_standard_filename = disabled

#ktlint_standard_annotation = disabled

# Skipping rule(s) which are depending on a rule which is not loaded.
# Please check if you need to add additional rule sets before creating an issue.
#   - Rule with id 'RuleId(value=standard:trailing-comma-on-call-site)' requires rule with id 'RuleId(value=standard:wrapping)' to be loaded
#   - Rule with id 'RuleId(value=standard:trailing-comma-on-declaration-site)' requires rule with id 'RuleId(value=standard:wrapping)' to be loaded
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled

# Missing space after // (standard:comment-spacing)
ktlint_standard_comment-spacing = disabled

# 주석 관련
# 주석 경고 비활성화
#ktlint_standard_commented-code = disabled
#ktlint_standard_no-consecutive-comments = disabled
#ktlint_standard_no-unused-imports = disabled
# 주석 줄바꿈 경고 비활성화
#ktlint_standard_comment-wrapping = disabled
# EOL 주석 경고 비활성화
#ktlint_standard_no-empty-first-line-in-method-block = disabled
# 모든 주석 관련 규칙 비활성화
#ktlint_standard = disabled

# Unexpected blank line(s) before "}" (standard:no-blank-line-before-rbrace)
ktlint_standard_no-blank-line-before-rbrace = disabled

# Missing newline before '}' (standard:statement-wrapping)
ktlint_standard_statement-wrapping = disabled

# A comment in a 'value_argument_list' is only allowed when placed on a separate line (cannot be auto-corrected) (standard:discouraged-comment-location)
ktlint_standard_discouraged-comment-location = disabled

#  Property name should start with a lowercase letter and use camel case (standard:property-naming)
#ktlint_standard_property-naming = disabled

######################################
# Allowed

# File must end with a newline (\n) (standard:final-newline)
#ktlint_standard_final-newline = disabled

# Unnecessary long whitespace (standard:no-multi-spaces)
#ktlint_standard_no-multi-spaces = disabled

# Unexpected spacing after "(" (standard:paren-spacing)
#ktlint_standard_paren-spacing = disabled

# Trailing space(s) (standard:no-trailing-spaces)
#ktlint_standard_no-trailing-spaces = disabled

# 이 옵션이 영향도가 좀 크네...
# Argument should be on a separate line (unless all arguments can fit a single line) (standard:argument-list-wrapping)
# Missing newline before ")"
#ktlint_standard_argument-list-wrapping = disabled

#[*.{yml,yaml}]
#indent_size = 2

#[*.{md,mdx}]
#trim_trailing_whitespace = false