.gradle
build/
property**/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### kotlin 2.0 ###
.kotlin/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/dictionaries/
.idea/uiDesigner.xml
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Command ###
shell_*.sh
py_*.py

### SonarScanner ###
sonar.properties
sonar-project.properties
.sonar.properties
/.scannerwork

### Snyk ###
.dccache

### OWASP Dependency-Check ###
dependency-check.properties

### detekt ###
config/detekt/

### docs ###
*.md
!README.md
*.mmd

### etc ###
mermaid_diagrams/
analysis_output/
*/output_svgs/
library-zero-rd-solution-kotlin/
library-zero-servlet-kotlin/
